! Xft
Xft.dpi: 96
Xft.antialias: true
Xft.lcdfilter: lcddefault

! URxvt
URxvt.scrollBar: false
URxvt*font: xft:Monospace-12:antialias=true

! Rofi
rofi.font:      Hack 15
rofi.width:     30
rofi.lines:     10
rofi.columns:   1
rofi.bw:        1
rofi.opacity:   80
!                  bg       fg       altbg    hlbg     hlfg
rofi.color-normal: #222222, #f1ebeb, #222222, #f1ebeb, #222222
rofi.color-urgent: #222222, #f1ebeb, #222222, #f1ebeb, #222222
rofi.color-active: #222222, #f1ebeb, #222222, #f1ebeb, #222222
rofi.color-window: #222222, #f1ebeb

! Colors
! special
*.foreground:   #f1ebeb
*.background:   #222221
*.cursorColor:  #f1ebeb
! black
*.color0:       #48483e
*.color8:       #76715e
! red
*.color1:       #dc2566
*.color9:       #fa2772
! green
*.color2:       #85c029
*.color10:      #a7e22e
! yellow
*.color3:       #d4c96e
*.color11:      #e7db75
! blue
*.color4:       #55bcce
*.color12:      #66d9ee
! magenta
*.color5:       #9358fe
*.color13:      #ae82ff
! cyan
*.color6:       #56b7a5
*.color14:      #66efd5
! white
*.color7:       #acada1
*.color15:      #edede8

! Xautolock
Xautolock.locker:   /usr/bin/i3lock -i $HOME/Pictures/brba.png
Xautolock.time:     3
